doctype
html
  head
    block title
      title Default Title
    |<!-- bower:css -->
    |<!-- bower installed css files will go here... -->
    |<!-- endinject -->
    |<!-- inject:css -->
    |<!-- css files will go here... -->
    |<!-- endinject -->
  body
    block content
      h1 Default Content!
    |<!-- bower:js -->
    |<!-- bower installed scripts will go here... -->
    |<!-- endinject -->
    |<!-- inject:js -->
    |<!-- js files will go here... -->
    |<!-- endinject -->
